In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read exce; and create a dataframe called as df_eco
df_eco = pd.read_excel('../teis-RenukaD13/data/NSS_ECO Data Ind 3 FFY 2023-24 20241211.xlsx' , sheet_name='ECO with Exit23-24 ')
df_eco.head()

,DISTRICT,CHILD_ID,Child ID_ Assessement point,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,...,BDI-2\nEntry SOCIAL_SCALE,BDI-2\nEntry KNOWLEDGE_SCALE,BDI-2\nEntry APPROPRIATE_ACTION_SCALE,BDI2 Entrance S/E\nStd Dev (Zscore),BDI2 Entrance\nCommunication Std Dev. (Z Score),BDI2 Entrance\nCognition Std Dev. (Z Score),BDI2 Entrance\nK/S\nStd Dev (Zscore),BDI2 Entrance\nAdaptive Std Dev (Zscore),BDI2 Entrance\nMotor Std Dev (Zscore),BDI2 Entrance\nA/B\nStd Dev (Zscore)
0,GN,473991,NaN,2020-01-07,1.0,1.0,1.0,2022-12-27,7.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GN,474186,NaN,2020-02-13,1.0,1.0,1.0,2023-10-26,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ET,474575,NaN,2020-01-17,3.0,5.0,4.0,2020-07-29,3.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NW,474623,NaN,2019-01-22,3.0,1.0,2.0,2022-12-16,4.0,4.0,...,3.0,6.0,2.0,-1.8,-1.27,-1.33,-1.300,-2.67,-1.67,-2.17
4,SW,474848,NaN,2021-07-09,3.0,3.0,6.0,2023-08-04,7.0,7.0,...,3.0,1.0,6.0,-2.0,-3.00,-2.47,-2.735,-1.67,-0.67,-1.17

In [3]:
# Create a new dataframe df_eco_summary where value of column 'OC1 Data Check' is 1. So all child id list we need to account for.
df_eco_summary = df_eco[df_eco['OC1 Data Check']==1]

In [4]:
# check if BDI3 exit date column has null values
df_eco_summary['BDI 3\nECO_Exit_DATE'].isnull()
# BDI3 exite date has null values present, but ECO exit date has values.

0        True
1       False
2        True
3        True
4       False
        ...
7925    False
7927    False
7928    False
7934    False
7935    False
Name: BDI 3\nECO_Exit_DATE, Length: 6481, dtype: bool

In [5]:
df_eco_summary['CHILD_ID'].nunique()

6481

In [6]:
#df_eco_summary['CHILD_ID']== 473991

In [7]:
#df_eco.columns[126]
df_eco.columns[67] # Extract exact column name/label name from dataframe by giving column number

'OC1 Data Check'

In [8]:
# # Create a subset of eco dataframe containing only date columns
# columns = ['CHILD_ID','ECO_Entry_DATE','Initial IFSP Date','BDI2 Entry Date','BDI 3\nECO_Entry_DATE', 'BDI 3\nECO_Exit_DATE']
# df_eco_dates = df_eco[columns]
# df_eco_dates.head()

In [9]:
df_bdi3 = pd.read_excel('../teis-RenukaD13/data/NSS data_BDI3 Scores 20230101 20240630_Compiled_20241107.xlsx')
df_bdi3.head()

,Last Name,First Name,Gender,Date of Birth,Location - Root Level (PC),Location - Root Level (AH),Location - Sub Level 1,Location - Sub Level 2,Location - Sub Level 3,Child ID,...,Cognitive-Perception and Concepts RS,Cognitive-Perception and Concepts SS,Cognitive-Perception and Concepts PR,Cognitive-Perception and Concepts AE,Cognitive-Perception and Concepts RDI,Cognitive-Perception and Concepts CSS,Cognitive-Perception and Concepts CSS 90%,Cognitive-Perception and Concepts Z-Score,Cognitive-Perception and Concepts T-Score,Cognitive-Perception and Concepts NCE
0,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Greater Nashville,NaN,NaN,474074,...,13.0,4.0,2,25,1990-01-01 00:00:00,464.0,450 - 479,2.00,30.0,8
1,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Greater Nashville,NaN,NaN,474186,...,24.0,8.0,25,40,68/90,510.0,502 - 517,0.67,43.0,36
2,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Upper Cumberland,NaN,NaN,474641,...,26.0,9.0,37,42,77/90,514.0,507 - 522,0.33,47.0,43
3,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Southwest,NaN,NaN,474848,...,17.0,6.0,9,32,25/90,487.0,476 - 497,1.33,37.0,22
4,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,South Central,NaN,NaN,474967,...,12.0,3.0,1,22,1990-01-01 00:00:00,451.0,429 - 473,2.33,27.0,1

In [10]:
# Create a subset of eco dataframe containing only date columns
columns = ['TEIDS Child ID','Program Label']
df_bdi3_Id = df_bdi3[columns]
df_bdi3_Id.head()

   TEIDS Child ID            Program Label
0        474074.0  BDI-3 Annual Evaluation
1        474186.0  BDI-3 Annual Evaluation
2        474641.0  BDI-3 Annual Evaluation
3        474848.0  BDI-3 Annual Evaluation
4        474967.0  BDI-3 Annual Evaluation

In [11]:
# Rename TEIDS Child ID to CHILD_ID to match with ECO dataframe
df_bdi3_Id = df_bdi3_Id.rename(columns={'TEIDS Child ID': 'CHILD_ID'})

In [12]:
df_bdi3_Id

       CHILD_ID                 Program Label
0      474074.0       BDI-3 Annual Evaluation
1      474186.0       BDI-3 Annual Evaluation
2      474641.0       BDI-3 Annual Evaluation
3      474848.0       BDI-3 Annual Evaluation
4      474967.0       BDI-3 Annual Evaluation
...         ...                           ...
34974       NaN       BDI-3 Annual Evaluation
34975       NaN  BDI-3 Eligibility Evaluation
34976       NaN       BDI-3 Annual Evaluation
34977       NaN                           NaN
34978       NaN  BDI-3 Eligibility Evaluation

[34979 rows x 2 columns]

In [13]:
df_bdi3_Id['Program Label'].value_counts()

Program Label
BDI-3 Eligibility Evaluation          21765
BDI-3 Annual Evaluation               11987
BDI-3 Milestone or Exit Evaluation      773
Name: count, dtype: int64

In [14]:
df_bdi3_Id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34979 entries, 0 to 34978
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CHILD_ID       34661 non-null  float64
 1   Program Label  34525 non-null  object
dtypes: float64(1), object(1)
memory usage: 546.7+ KB

In [15]:
# Perform a left join so that we will have all the records of 6481 children in summary sheet
merged_df = pd.merge(df_eco_summary, df_bdi3_Id, on= ['CHILD_ID'], how='left') 
merged_df
# # Find missing IDs from df1
# missing_ids_from_df1 = merged_df[merged_df['CHILD_ID'].isnull()]['ID']
# missing_ids_from_df1

,DISTRICT,CHILD_ID,Child ID_ Assessement point,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,...,BDI-2\nEntry KNOWLEDGE_SCALE,BDI-2\nEntry APPROPRIATE_ACTION_SCALE,BDI2 Entrance S/E\nStd Dev (Zscore),BDI2 Entrance\nCommunication Std Dev. (Z Score),BDI2 Entrance\nCognition Std Dev. (Z Score),BDI2 Entrance\nK/S\nStd Dev (Zscore),BDI2 Entrance\nAdaptive Std Dev (Zscore),BDI2 Entrance\nMotor Std Dev (Zscore),BDI2 Entrance\nA/B\nStd Dev (Zscore),Program Label
0,GN,473991,NaN,2020-01-07,1.0,1.0,1.0,2022-12-27,7.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GN,474186,NaN,2020-02-13,1.0,1.0,1.0,2023-10-26,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BDI-3 Annual Evaluation
2,ET,474575,NaN,2020-01-17,3.0,5.0,4.0,2020-07-29,3.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NW,474623,NaN,2019-01-22,3.0,1.0,2.0,2022-12-16,4.0,4.0,...,6.0,2.0,-1.8,-1.27,-1.33,-1.300,-2.67,-1.67,-2.17,NaN
4,SW,474848,NaN,2021-07-09,3.0,3.0,6.0,2023-08-04,7.0,7.0,...,1.0,6.0,-2.0,-3.00,-2.47,-2.735,-1.67,-0.67,-1.17,BDI-3 Annual Evaluation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8628,SC,567392,NaN,2023-11-17,7.0,1.0,7.0,2024-10-14,6.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BDI-3 Eligibility Evaluation
8629,ET,567510,NaN,2023-11-30,7.0,7.0,4.0,2024-10-02,3.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BDI-3 Eligibility Evaluation
8630,ET,567756,NaN,2023-12-05,2.0,1.0,1.0,2024-09-09,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BDI-3 Eligibility Evaluation
8631,MD,568323,NaN,2023-12-06,7.0,1.0,4.0,2024-10-01,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BDI-3 Eligibility Evaluation
8632,MD,568536,NaN,2023-12-14,6.0,1.0,4.0,2024-08-27,7.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BDI-3 Eligibility Evaluation

In [16]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8633 entries, 0 to 8632
Columns: 153 entries, DISTRICT to Program Label
dtypes: datetime64[ns](12), float64(111), int64(10), object(20)
memory usage: 10.1+ MB

In [17]:
#Find the count of distinct Child Id from new dataframe
merged_df['CHILD_ID'].nunique()

6481

In [18]:
# merge the dataframe with rows with BDI3 with inner join
#merged_df = pd.merge(df_eco_summary, df_bdi3_Id, left_on='CHILD_ID', right_on='TEIDS Child ID')
merged_df_1 = pd.merge(df_eco_summary, df_bdi3_Id, on='CHILD_ID', how = 'inner')
merged_df_1

,DISTRICT,CHILD_ID,Child ID_ Assessement point,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,...,BDI-2\nEntry KNOWLEDGE_SCALE,BDI-2\nEntry APPROPRIATE_ACTION_SCALE,BDI2 Entrance S/E\nStd Dev (Zscore),BDI2 Entrance\nCommunication Std Dev. (Z Score),BDI2 Entrance\nCognition Std Dev. (Z Score),BDI2 Entrance\nK/S\nStd Dev (Zscore),BDI2 Entrance\nAdaptive Std Dev (Zscore),BDI2 Entrance\nMotor Std Dev (Zscore),BDI2 Entrance\nA/B\nStd Dev (Zscore),Program Label
0,GN,474186,NaN,2020-02-13,1.0,1.0,1.0,2023-10-26,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BDI-3 Annual Evaluation
1,SW,474848,NaN,2021-07-09,3.0,3.0,6.0,2023-08-04,7.0,7.0,...,1.0,6.0,-2.00,-3.00,-2.47,-2.735,-1.67,-0.67,-1.170,BDI-3 Annual Evaluation
2,SC,474967,NaN,2020-01-31,3.0,2.0,3.0,2023-07-31,7.0,2.0,...,4.0,4.0,-1.47,-1.80,-1.33,-1.565,-1.33,-2.00,-1.665,BDI-3 Annual Evaluation
3,SW,475636,NaN,2020-09-03,1.0,1.0,1.0,2023-07-19,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BDI-3 Annual Evaluation
4,SE,475907,NaN,2020-02-20,3.0,5.0,1.0,2023-11-15,7.0,2.0,...,4.0,7.0,-1.00,-1.47,-1.80,-1.635,-0.67,-1.00,-0.835,BDI-3 Annual Evaluation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7993,SC,567392,NaN,2023-11-17,7.0,1.0,7.0,2024-10-14,6.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BDI-3 Eligibility Evaluation
7994,ET,567510,NaN,2023-11-30,7.0,7.0,4.0,2024-10-02,3.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BDI-3 Eligibility Evaluation
7995,ET,567756,NaN,2023-12-05,2.0,1.0,1.0,2024-09-09,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BDI-3 Eligibility Evaluation
7996,MD,568323,NaN,2023-12-06,7.0,1.0,4.0,2024-10-01,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BDI-3 Eligibility Evaluation
7997,MD,568536,NaN,2023-12-14,6.0,1.0,4.0,2024-08-27,7.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BDI-3 Eligibility Evaluation

In [19]:
#Find the count of distinct Child Id from new dataframe
merged_df_1['CHILD_ID'].nunique()

5846

In [20]:
df_bdi2 = pd.read_csv('../teis-RenukaD13/data/NSS data_BDI2 scores_20200101-20230131_20241106.csv', low_memory=False)
df_bdi2.head()

,StudentID,studentAssessmentID,resultStudentDomainID,Student TEIDS ID,domainID,domainText,ScoreTypeID,ScoreTypeText,StaffExternalID,testDate,...,AESign,isSSRequired,stdDevScore1,stdDevScore2,stdDevScore3,NCESign,totalCSS,totalCSSMin,totalCSSMax,NormType
0,2224693,8625078,138104116,52101,7,Self-Care,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,322.0,301.0,343.0,2
1,2224693,8625078,138104117,52101,10,Adult Interaction,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,413.0,403.0,423.0,2
2,2224693,8625078,138104118,52101,12,Self-Concept and Social Role,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,365.0,355.0,375.0,2
3,2224693,8625078,138104119,52101,14,Receptive Communication,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,343.0,333.0,353.0,2
4,2224693,8625078,138104120,52101,15,Expressive Communication,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,288.0,267.0,309.0,2

In [22]:
df_bdi2.dtypes

StudentID                  int64
studentAssessmentID        int64
resultStudentDomainID      int64
Student TEIDS ID          object
domainID                   int64
domainText                object
ScoreTypeID              float64
ScoreTypeText             object
StaffExternalID          float64
testDate                  object
lastUpdateDate            object
rawScore                 float64
CompleteStatus             int64
isSpanish                float64
isSpanishIO              float64
scaledScore              float64
DQScore                  float64
PRScore                  float64
Ci95Min                  float64
Ci95Max                  float64
NceScore                 float64
TScore                   float64
ZScore                   float64
PRSign                    object
AEScore                  float64
AESign                    object
isSSRequired             float64
stdDevScore1             float64
stdDevScore2             float64
stdDevScore3             float64
NCESign                   object
totalCSS                 float64
totalCSSMin              float64
totalCSSMax              float64
NormType                   int64
dtype: object

In [ ]:
# Create a subset of eco dataframe containing only date columns
df_bdi2_id = df_bdi2[['Student TEIDS ID':'Child_id']]
df_bdi2_id.head()

In [ ]:
# # Normalize the pivot table
# scaler = MinMaxScaler()
# normalized_pivot = scaler.fit_transform(pivot_table)

# # Convert back to a DataFrame
# normalized_df = pd.DataFrame(normalized_pivot, index=pivot_table.index, columns=pivot_table.columns)

# print(normalized_df)

In [ ]:
#df_bdi2.columns[3]
# Rename Student TEIDS ID to CHILD_ID to match with ECO dataframe
df_bdi2 = df_bdi2.rename(columns={'Student TEIDS ID': 'CHILD_ID'})

In [ ]:
df_merge_bdi2_eco = pd.merge(df_bdi2, df_eco_summary, on='CHILD_ID', how='inner')
df_merge_bdi2_eco

In [ ]:
# merge the pivoted_df dataframe with rows with BDI3 filtered dataframe bdi3_child_scores with inner join
df_filtered_bdi2_bdi3 = pd.merge(pivoted_df, bdi3_child_scores, left_on='Student TEIDS ID', right_on='CHILD_ID', how = 'inner')
df_filtered_bdi2_bdi3